body {
    width: 980px;
    margin: 0 auto;
    background-color: #CCCCCC;
}

a {
    text-decoration: none;
}

i {
    margin-right: 5px;
}

main,
footer {
    background-color: #FFFFFF;
}

.counter {
    display: none;
}
